* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}

.container {
  margin: 20px auto;
  width: 70%;
  height: 100%;
}

h2,
h3 {
  text-align: center;
}

h2 {
  text-decoration: underline;
}

.producer-name,
.model-name,
.date-of-shoot,
.location-of-shoot {
  font-weight: 700;
}

.summary-title,
.print-info {
  text-align: left;
}

.form-name {
  margin: 30px 0 0 0;
}

.print-name,
.social-security,
.address,
.city,
.state,
.zip {
  font-weight: 600;
}
