* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*------------------------------ BEGINNING OF NAV SECTION ------------------------------*/
.nav-anchor {
  color: red;
  text-decoration: none;
  font-size: xx-large;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgba(255, 166, 0, 0.685);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: all 1s linear;
}

li a:hover:not(.active) {
  background-color: #9e9189;
  color: white;
}

li a.active {
  color: white;
  background-color: #9e9189;
}
/*------------------------------ ENDING OF NAV SECTION ------------------------------*/
.container {
  background-color: #383533;
  width: 90%;
  height: 90%;
  margin: 35px auto;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 1px 1px 25px 3px rgba(255, 166, 0, 0.685);
}

.admin-div {
  display: flex;
}

.section-one {
  /* display: flex;
  align-content: space-between; */
}

.model-section {
  margin: 1px auto 30px;
}

img.head-shot {
  height: 250px;
  border-radius: 50%;
}

.model-name {
  font-size: x-large;
  color: white;
  margin: 10px 0 5px 0;
}

.model-stage-name {
  color: rgb(86, 209, 240);
  margin: 0 0 15px 0;
}

.row-data-2 {
  color: #9e9189;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.url-color {
  color: rgb(86, 209, 240);
  text-decoration: none;
  transition: 1s linear;
}

.url-color:hover {
  color: rgba(255, 166, 0, 0.685);
}

.title {
  /* margin: 10px auto;
  display: flex;
  align-content: space-between;
  gap: 30px; */
}

p.description {
  color: #ffffff;
}
/*--------------------------------------------------------------------------------*/
.index-div-button {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 75%;
  height: 35%;
  margin: 10px auto;
}

.index-button {
  display: block;
  font-size: medium;
  font-weight: bolder;
  width: 70%;
  background-color: rgba(255, 166, 0, 0.685);
  color: rgb(120, 42, 42);
  padding: 20px;
  border-radius: 50%;
  border: none;
  margin: 25px auto;
  box-shadow: 1px 1px 10px 3px rgb(120, 42, 42);
  transition: all 1s linear;
}

.index-button a {
  color: rgb(120, 42, 42);
  height: 35%;
  text-decoration: none;
  transition: all 1s linear;
}

.index-button:hover {
  background-color: rgb(120, 42, 42);
  box-shadow: 1px 1px 10px 3px rgba(255, 166, 0, 0.685);
}

.index-button a:hover {
  color: rgba(255, 166, 0, 0.685);
}
/*-----------------------------------------------------------------------------------*/
.footer-logo {
  color: #9e9189;
  text-align: center;
}
/* -----------------------------------------------------------------------------------*/
